<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,82},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>clock1.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,395},{32,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,14}</string>
			</dict>
			<key>clockbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,157},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>clocktime1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,361},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>ice1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,305},{77,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,59}</string>
			</dict>
			<key>ice2.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,406},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>
			<key>ice3.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,366},{81,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,55}</string>
			</dict>
			<key>ice4.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,232},{74,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,71}</string>
			</dict>
			<key>ice5.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,406},{67,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,56}</string>
			</dict>
			<key>ice6.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>
			<key>offBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,442},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>piture.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,200},{147,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,105}</string>
			</dict>
			<key>right.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,354},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>startBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,200},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>hand1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,307},{146,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,97}</string>
			</dict>
			<key>hand2.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,423},{138,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,90}</string>
			</dict>
			<key>hand3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,352},{132,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,88}</string>
			</dict>
			<key>hand4.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,515},{135,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,88}</string>
			</dict>
			<key>quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,361},{156,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,63}</string>
			</dict>
			<key>light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,1},{305,176}}</string>
				<key>offset</key>
				<string>{-5,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,347}</string>
			</dict>
			<key>light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,183},{285,176}}</string>
				<key>offset</key>
				<string>{-4,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,347}</string>
			</dict>
			<key>light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,354},{277,176}}</string>
				<key>offset</key>
				<string>{-4,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,347}</string>
			</dict>
			<key>light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,179},{303,173}}</string>
				<key>offset</key>
				<string>{-5,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,347}</string>
			</dict>
			<key>light5.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1},{314,180}}</string>
				<key>offset</key>
				<string>{-6,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,347}</string>
			</dict>
			<key>light6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{313,197}}</string>
				<key>offset</key>
				<string>{-7,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,347}</string>
			</dict>
			<key>light7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1},{1,1}}</string>
				<key>offset</key>
				<string>{218,-173}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,347}</string>
			</dict>
			<key>clocktime3.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,361},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UiPlist.png</string>
			<key>realTextureFileName</key>
			<string>UiPlist.png</string>
			<key>size</key>
			<string>{1021,604}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>604</integer>
		</dict>
	</dict>
</plist>